* {
    font-family: "Poppins";
}

.logo {
    align-items: flex-start;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #8b6b00;
    margin-right: 25px;
}

.logo:hover {
    cursor: pointer;
    
}

/* Setting up navigation bar */

.navbar li {
    display: inline-block;

}

nav {
    position: fixed;
    background-color: #000080;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transition: all .50s ease;
}

.navlist a {
    position: sticky;
    margin: 0px 5px;
    padding: 5px 20px;
    color: #d6d6d6;
    font-size: 18px;
    font-weight: bold;
    transition: all .50s ease;
    text-decoration: none;
}

.navlist a:hover {
    color: #8b6b00;
    text-decoration: underline;
}

.maintext {
    margin: 0 0 20px 0;
}

/* Map */

.mapcontainer {
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.mapcontainer iframe {
    display: inline-block;
   
    
}

/* Footer build */

.footer {
    margin-top: 15px;
    display: fixed;
    width: 100%;
    height: 75px;
    background-color: #000080;
}

.footerdiv {

}

.social a {
    text-decoration: none;
    
}

.email:hover {
    cursor: pointer;
    text-decoration: underline;
}