* {
    font-family: "Poppins";
}

.logo {
    align-items: flex-start;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #8b6b00;
    margin-right: 25px;
}

.logo:hover {
    cursor: pointer;
    
}

/* Setting up navigation bar */

.navbar li {
    display: inline-block;

}

nav {
    position: fixed;
    background-color: #000080;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transition: all .50s ease;
}

.navlist a {
    position: sticky;
    margin: 0px 5px;
    padding: 5px 20px;
    color: #d6d6d6;
    font-size: 18px;
    font-weight: bold;
    transition: all .50s ease;
    text-decoration: none;
}

.navlist a:hover {
    color: #8b6b00;
    text-decoration: underline;
}

/* Setting up main body of content - text and imagery */

h1 {
    font-size: 32px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}

.intro {  
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 2px;
    grid-column: 2;
    grid-column-end: span 2;
    grid-row: 1;
}

.introduction {
    margin-top: 100px;
}

.maintext {
    grid-column: 1;
    grid-column-end: 5;
    grid-row: 2;
    padding: 5px 15px 5px 15px;
}

/* Setting up gallery */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.pic1 {
    max-width: 250px;
    max-height: 250px;
    padding: 5px;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic2 {
    max-width: 250px;
    max-height: 250px;
    padding: 5px;
}

.pic3 {
    max-width: 250px;
    max-height: 250px;
    padding: 5px;
}

.pic4 {
    max-width: 250px;
    max-height: 250px;
    padding: 5px;
}
.pic5 {
    max-width: 250px;
    max-height: 250px;
    padding: 5px;
}
.pic6 {
    max-width: 250px;
    max-height: 250px;
    padding: 5px;
}
/* Setting up footer */

.footerdiv {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    
}

.footer {
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #000080;
}

.copy {
    color: white; 
    display: flex;
    margin: 10px auto auto 15px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.email {
    grid-column-start: 3;
    grid-column-end: 4;
    color: white;
    
}

.insta {
display: flex;
justify-content: space-between;
margin-left: auto;
align-items: flex-end;
}

.insta:hover {
    cursor: pointer;
}

.social a {
    text-decoration: none;
    
}

.email:hover {
    cursor: pointer;
    text-decoration: underline;
}